<%inherit file='../base.html' />
<%block name='css'>
<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
</%block>
<%block name='content'>

<div id="send_news_window" class="">
    <div class="dialog_title">
        <span class="color_black">黄页信息</span> 
        <a href="javascript:void(0)" id="add_dialog_close" > 
        <span class="dialog_close close"></span>
         </a>
    </div>
    <fieldset>                   		
   
    <form action="/create_info" method="post">
   
        <div class="clearfix">
            <label for="xlInput">发布人</label>
            <div class="input info">
                ${info.get('auther','')}
            </div>
        </div>
           
        <div class="clearfix">
            <label for="xlInput">公司</label>
            <div class="input  info">
                ${info.get('title','')}
            </div>
        </div>
  
    
       
        <div class="clearfix">
            <label for="xlInput">行业</label>
            <div class="input info">
                ${info.get('type','') }
              
            </div>
        </div>
    
    
        
        <div class="clearfix">
            <label for="xlInput">地点</label>
            <div class="input info">
                   ${info.get('from_loc','') }
            </div>
        </div>
     
    
       
        <div class="clearfix">
            <label for="xlInput">联系人</label>
            <div class="input info">
                 ${info.get('link_man','') }
            </div>
        </div>
       
       
        <div class="clearfix">
            <label for="xlInput">联系电话</label>
            <div class="input info">
                 ${info.get('link_phone','') }
            </div>
        </div>
        
        
        
        <div class="clearfix">
            <label for="xlInput">内容</label>
            <div class="input info">
               ${info.get('content','') }
            </div>
        </div>
  
    
        <div class="actions">
           
            <a href="javascript:void(0)" onclick="history.go(-1)" class="btn success">返回</a> 
        </div> 
    </fieldset>                   		

    </form>

</div>

</%block>
<%block name='js'>
<script>
    $("#menu_yellow_page").addClass("active");
</script>
        
</%block>




