<%inherit file='../base.html' />
<%block name='css'>
<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
</%block>
<%block name='content'>

<div id="send_news_window" class="">
    <div class="dialog_title">
        <span class="color_black">供应信息</span> 
        <a href="javascript:void(0)" id="add_dialog_close" > 
        <span class="dialog_close close"></span>
         </a>
    </div>
    <fieldset>                   		
   
    <form action="/create_info" method="post">
   
        <div class="clearfix">
            <label for="xlInput">发布人</label>
            <div class="input info">
                ${info.get('auther','')}
            </div>
        </div>
           
        <div class="clearfix">
            <label for="xlInput">标题</label>
            <div class="input  info">
                ${info.get('title','')}
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">现货期货</label>
            <div class="input info">
                %if info.get('money_type','') == '0':
                    期货
                %else:
                    现货
                %endif
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">有效时间</label>
            <div class="input info">
          
            ${info.get('start_time', '')}
                ------
            ${info.get('end_time', '')}
        
            
            </div>
        </div>
       
        <div class="clearfix">
            <label for="xlInput">行业</label>
            <div class="input info">
                ${info.get('type','') }
              
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">种类</label>
            <div class="input info">
                ${info.get('type','kind') }
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">规格</label>
            <div class="input info">
                ${info.get('spec','') }
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">数量</label>
            <div class="input info">
                ${info.get('num','') }
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">价格</label>
            <div class="input info">
                ${info.get('price','') }
            </div>
        </div>
        
        <div class="clearfix">
            <label for="xlInput">出产地点</label>
            <div class="input info">
                   ${info.get('from_loc','') }
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">交货地点</label>
            <div class="input info">
                 ${info.get('pay_loc','') }
            </div>
        </div>
       
        <div class="clearfix">
            <label for="xlInput">供应方</label>
            <div class="input info">
                 ${info.get('pay_name','') }
            </div>
        </div>
       
        <div class="clearfix">
            <label for="xlInput">联系人</label>
            <div class="input info">
                 ${info.get('link_man','') }
            </div>
        </div>
       
       
        <div class="clearfix">
            <label for="xlInput">联系电话</label>
            <div class="input">
                 ${info.get('link_phone','') }
            </div>
        </div>
        
        
        
        <div class="clearfix">
            <label for="xlInput">内容</label>
            <div class="input">
               ${info.get('content','') }
            </div>
        </div>
  
    
        <div class="actions">
           
            <a href="/sell" class="btn">返回</a> 
        </div> 
    </fieldset>                   		

    </form>

</div>

</%block>
<%block name='js'>

        
</%block>




