<html>
<head>
<title>农牧鱼林网</title>
     
    <link href="/static/css/farm.css" rel="stylesheet" media="screen" type="text/css" />
    <%block name="css">
    </%block>
</head>
<body>
    <div id="wraper">
        <div id="topbar">
            <div class="w pos">
                <div class="bar_left">
                    <h2>北京</h2>
                    <span id="ipconfig">[<a href="/list_city" target="_self">切换城市</a>]</span>
					<span class="gap">|</span>
					<a href="/login" target="_self"> 农业</a>
                    <span class="gap">|</span>
                    <a href="/login" target="_self"> 牧业</a>
                    <span class="gap">|</span>
                    <a href="/login" target="_self"> 渔业</a>
                    <span class="gap">|</span>
                    <a href="/login" target="_self"> 林业</a>
                    <span class="gap">|</span>
        
                </div>
                <div class="bar_right">

                      <a href="/login" target="_self"> 登录</a>
                      <span class="gap">|</span>
                      <a href="/reg" target="_self">注册</a>
                </div>
            </div>
        </div>
		<div id='content'>
		<%block name='content' />
		 </div>
        <div id="footer">
			<div id="contact">
			 <a href="/help" title="有问题请与客服进行对话" class="fduihua">帮助中心</a>
			 <a href="/delete" class="red">我要删除信息</a>
					 |
			 <a href="/about">关于我们</a>
			 |
			 <a href="/contact">联系我们</a>
			 |
				 <a href="/ad">推广服务</a>
			 |<a href="/">公司声明</a>
			
			</div>
			<div class="beian">
				京公网安备xxxxxx号 <a href="http://www.miibeian.gov.cn/" style="color:#666">京ICP证xxxx</a>
			</div>
			</div>
    </div>
</body>
</html>
<script type="text/javascript" src="/static/js/jquery-1.6.4.js" />
<%block name="js" />
