<!DOCTYPE html>
<html>
<head>
<title>农牧鱼林网</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css" />  
    <link href="/static/css/layout.css" rel="stylesheet" media="screen" type="text/css" />      
    <link href="/static/css/base.css" rel="stylesheet" media="screen" type="text/css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <%block name="css" />

</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container menu_container">
      <a class="brand" href="#"><img src="/static/img/farm.jpg" /></a>
      <ul class="nav">
        <li id="menu_news"><a href="/">资讯专栏</a></li>
        <li id="menu_sell"><a href="/sell">供应信息</a></li>
        <li id="menu_buy"><a href="/buy">求购信息</a></li>
        <li id="menu_teach" ><a href="/teach">技术推广</a></li>
        <li><a href="#contact">招商加盟</a></li>
        <li><a href="#about">合作经营</a></li>
        <li><a href="#contact">招资申请</a></li>
        <li><a href="#about">黄页展示</a></li>        
      </ul>
        <form action="/login" class="login" method="POST">
            % if  session.get('_id', {}):
               
                
                <span class="color_red welcome">欢迎 ${session.get('name', None)}</span>
                <a href="/quit" class="btn danger">退出帐号</a>
                <a href="/setting" class="btn">帐号设置</a>
                
            % else:
                %if not login:                
                <input class="input-small" type="text" name="_id" placeholder="用户名">
                <input class="input-small" type="password" name="password" placeholder="密码">
                <button class="btn" type="submit">登录</button>
                <a href="/reg" class="btn danger">注册</a>
                <span class="color_red">${session.get('err_msg', '')}</span>
               %endif
            % endif
        </form>
        
    </div>
  </div>
</div>

<div class="container">

    <div class="content">

        <div id="content">
          
            <%block name="content" />
            
        </div>
        <div class="clearfix"></div> 
    </div>

  <footer>
    <p>&copy; 农牧渔林信息网 2011</p>
  </footer>

</div> <!-- /container -->

<div id="alert" class="hide alert-message error" >
    <a class="close" href="#"  id="alert_close">×</a>
    <p id="alert_content"></p>
</div>
</body>
</html>
<script type="text/javascript" src="/static/js/jquery-1.6.4.js" ></script>
<script type="text/javascript" src="/static/js/lib.js" ></script>
<%block name="js" />

