<%inherit file='base.html' />
<%block name='content'>
<link href="http://pic2.58.com/ui6/post/post.css?version=20110627" type="text/css" rel="stylesheet" />
<div class="content">
  <div id="toperro" class="hc"></div>

  <div id="topinfomsg">为保护购买者权益，58将对<font color="#ff0000">商家冒充个人</font>的行为加强识别和处理。跳蚤市场具体版规，<a href="http://about.58.com/89.html#tiaozao" target="_blank">请点此查看。</a></div>
  <form name="aspnetForm" method="post" target="formSubmit" id="aspnetForm" enctype="multipart/form-data">
    <span id="main">
    <table cellpadding="0" cellspacing="0" class="box1" id="formTb">
      <tbody>
        <tr para="type" nameid="0">
          <td class="t"><b class="red">*</b>&nbsp;供 需：</td>
          <td><label>
            <input type="radio" id="rdo_type_0" name="type" nameid="1223" dv="0" value="0" f="{0}">
            <span>转让</span></label>
            &nbsp;&nbsp;
            <label>
            <input type="radio" id="rdo_type_1" name="type" nameid="1223" dv="0" value="1" f="{0}">
            <span>求购</span></label>
            &nbsp;&nbsp;<span id="type_Tip"></span></td>
        </tr>
        <tr>
          <td class="t"><b class="red">*</b> 标 题： </td>
          <td><input type="text" name="Title" id="Title" value="" class="text1" maxlength="25">
            <span id="Title_Tip"></span> </td>
        </tr>
        <tr para="ObjectType" nameid="0">
          <td class="t"><b class="red">*</b>&nbsp;类 别：</td>
          <td><select id="ObjectType" name="ObjectType" nameid="1224" dv="" f="{0}">
              <option value="">-- 请选择 --</option>
              <option vid="329" value="0" ci="0">台式机</option>
              <option vid="330" value="1" ci="0">笔记本</option>
              <option vid="331" value="2" ci="0">服务器</option>
              <option vid="297914" value="408332" alias="平板电脑|ipad" ci="0">平板电脑/ipad</option>
              <option vid="332" value="3" ci="0">硬件</option>
              <option vid="333" value="4" ci="0">外设产品</option>
              <option vid="334" value="5" ci="0">其他</option>
            </select>
            <span id="ObjectType_Tip"></span></td>
        </tr>
        <tr para="oldlevel" nameid="0">
          <td class="t"><b class="red">*</b>&nbsp;新旧程度：</td>
          <td><select id="oldlevel" name="oldlevel" nameid="1225" dv="3" f="{0}">
              <option value="">-- 请选择 --</option>
              <option vid="242111" value="7" ci="0">全新</option>
              <option vid="336" value="1" ci="0">99成新</option>
              <option vid="337" value="2" ci="0">95成新</option>
              <option vid="338" value="3" ci="0">9成新</option>
              <option vid="339" value="4" ci="0">8成新</option>
              <option vid="340" value="5" ci="0">7成新</option>
              <option vid="341" value="6" ci="0">6成以下</option>
            </select>
            <span id="oldlevel_Tip"></span></td>
        </tr>
        <tr>
          <td class="t"><b class="red">*</b> <span id="tt_MinPrice">转让价格</span>：</td>
          <td><input class="text3 gray" type="text" id="MinPrice" f="{0}元" name="MinPrice" value="" maxlength="5/">
            元 <span id="MinPrice_Tip"></span></td>
        </tr>
        <tr para="MinPriceqj" nameid="0" style="display: none; ">
          <td class="t">价 格：</td>
          <td><select id="MinPriceqj" name="MinPriceqj" nameid="5621" dv="" f="{0}" style="display: none; ">
              <option value="">-- 请选择 --</option>
              <option vid="245944" value="0_100" ci="1226">100元以下</option>
              <option vid="245945" value="101_200" ci="1226">100-200元</option>
              <option vid="245946" value="201_500" ci="1226">200-500元</option>
              <option vid="245947" value="501_1000" ci="1226">500-1000元</option>
              <option vid="245948" value="1001_2000" ci="1226">1000-2000元</option>
              <option vid="245949" value="2001_3500" ci="1226">2000-3500元</option>
              <option vid="245950" value="3501_999999" ci="1226">3500元以上</option>
            </select>
            <span id="MinPriceqj_Tip"></span></td>
        </tr>
        <tr>
          <td class="t">所在区域：</td>
          <td><input type="button" style="display:none" id="hiddenBtnArea" onclick="getCityAreaID();">
            <select id="localArea" name="localArea">
              <option value="">--区域--</option>
              <option value="1142"> 朝阳</option>
              <option value="1143"> 海淀</option>
              <option value="1138"> 东城</option>
              <option value="1139"> 西城</option>
              <option value="1140"> 崇文</option>
              <option value="1141"> 宣武</option>
              <option value="1144"> 丰台</option>
              <option value="1147"> 通州</option>
              <option value="1145"> 石景山</option>
              <option value="6808"> 房山</option>
              <option value="1150"> 昌平</option>
              <option value="6809"> 大兴</option>
              <option value="6810"> 顺义</option>
              <option value="6811"> 密云</option>
              <option value="6812"> 怀柔</option>
              <option value="6813"> 延庆</option>
              <option value="6814"> 平谷</option>
              <option value="6815"> 门头沟</option>
              <option value="1146"> 北京周边</option>
            </select>
            &nbsp;
            <select id="localDiduan" name="localDiduan">
              <option value="">--商圈--</option>
            </select>
            <select id="selectDiduanHidden" style="display: none;">
              <option id="1142_1195" value="1195"> 国贸</option>
              <option id="1142_6834" value="6834"> CBD </option>
              <option id="1142_5785" value="5785"> 大望路</option>
              <option id="1142_5786" value="5786"> 四惠</option>
              <option id="1142_5779" value="5779"> 双井</option>
              <option id="1142_1199" value="1199"> 劲松</option>
              <option id="1142_5780" value="5780"> 潘家园</option>
              <option id="1142_5990" value="5990"> 广渠门</option>
              <option id="1142_5988" value="5988"> 建外大街</option>
              <option id="1142_6830" value="6830"> 东大桥</option>
              <option id="1142_5826" value="5826"> 工体</option>
              <option id="1142_6017" value="6017"> 朝外大街</option>
              <option id="1142_1202" value="1202"> 京广桥</option>
              <option id="1142_7559" value="7559"> 团结湖</option>
              <option id="1142_5999" value="5999"> 朝阳公园</option>
              <option id="1142_1207" value="1207"> 呼家楼</option>
              <option id="1142_1198" value="1198"> 三里屯</option>
              <option id="1142_6001" value="6001"> 麦子店</option>
              <option id="1142_1200" value="1200"> 燕莎</option>
              <option id="1142_1194" value="1194"> 三元桥</option>
              <option id="1142_7560" value="7560"> 国展</option>
              <option id="1142_7561" value="7561"> 西坝河</option>
              <option id="1142_7566" value="7566"> 柳芳</option>
              <option id="1142_5784" value="5784"> 和平街</option>
              <option id="1142_7564" value="7564"> 左家庄</option>
              <option id="1142_6014" value="6014"> 太阳宫</option>
              <option id="1142_7550" value="7550"> 芍药居</option>
              <option id="1142_1204" value="1204"> 安贞</option>
              <option id="1142_1193" value="1193"> 亚运村</option>
              <option id="1142_5992" value="5992"> 安慧桥</option>
              <option id="1142_7563" value="7563"> 小关</option>
              <option id="1142_7565" value="7565"> 北沙滩</option>
              <option id="1142_5994" value="5994"> 奥运村</option>
              <option id="1142_5993" value="5993"> 大屯</option>
              <option id="1142_6828" value="6828"> 小营</option>
              <option id="1142_1203" value="1203"> 望京</option>
              <option id="1142_6012" value="6012"> 来广营</option>
              <option id="1142_5782" value="5782"> 北苑</option>
              <option id="1142_12211" value="12211"> 媒体村</option>
              <option id="1142_6019" value="6019"> 花家地</option>
              <option id="1142_7551" value="7551"> 大山子</option>
              <option id="1142_1206" value="1206"> 酒仙桥</option>
              <option id="1142_7562" value="7562"> 将台路</option>
              <option id="1142_12179" value="12179"> 甘露园</option>
              <option id="1142_6002" value="6002"> 首都机场</option>
              <option id="1142_6011" value="6011"> 东坝</option>
              <option id="1142_6010" value="6010"> 姚家园</option>
              <option id="1142_6021" value="6021"> 水碓子</option>
              <option id="1142_6832" value="6832"> 甜水园</option>
              <option id="1142_6833" value="6833"> 朝青板块</option>
              <option id="1142_6006" value="6006"> 石佛营</option>
              <option id="1142_5997" value="5997"> 十里堡</option>
              <option id="1142_6018" value="6018"> 红庙</option>
              <option id="1142_7558" value="7558"> 百子湾</option>
              <option id="1142_6940" value="6940"> 高碑店</option>
              <option id="1142_6835" value="6835"> 定福庄</option>
              <option id="1142_11367" value="11367"> 双桥</option>
              <option id="1142_12197" value="12197"> 慈云寺</option>
              <option id="1142_6009" value="6009"> 常营</option>
              <option id="1142_5781" value="5781"> 管庄</option>
              <option id="1142_6005" value="6005"> 南磨房</option>
              <option id="1142_5998" value="5998"> 垡头</option>
              <option id="1142_6004" value="6004"> 豆各庄</option>
              <option id="1142_6003" value="6003"> 十八里店</option>
              <option id="1142_6838" value="6838"> 小红门</option>
              <option id="1142_12945" value="12945"> 十里河</option>
              <option id="1142_1208" value="1208"> 朝阳周边</option>
              <option id="1143_1196" value="1196"> 中关村</option>
              <option id="1143_1236" value="1236"> 北京大学</option>
              <option id="1143_1237" value="1237"> 清华大学</option>
              <option id="1143_5788" value="5788"> 五道口</option>
              <option id="1143_1238" value="1238"> 上地</option>
              <option id="1143_5790" value="5790"> 西三旗</option>
              <option id="1143_11724" value="11724"> 回龙观</option>
              <option id="1143_11365" value="11365"> 西二旗</option>
              <option id="1143_5791" value="5791"> 清河</option>
              <option id="1143_6817" value="6817"> 二里庄</option>
              <option id="1143_1241" value="1241"> 学院路</option>
              <option id="1143_5789" value="5789"> 知春路</option>
              <option id="1143_6819" value="6819"> 牡丹园</option>
              <option id="1143_7554" value="7554"> 北航</option>
              <option id="1143_5792" value="5792"> 北太平庄</option>
              <option id="1143_5985" value="5985"> 蓟门桥</option>
              <option id="1143_5967" value="5967"> 双榆树</option>
              <option id="1143_6714" value="6714"> 人民大学</option>
              <option id="1143_7552" value="7552"> 皂君庙</option>
              <option id="1143_5981" value="5981"> 大钟寺</option>
              <option id="1143_1239" value="1239"> 魏公村</option>
              <option id="1143_7556" value="7556"> 白石桥</option>
              <option id="1143_1243" value="1243"> 紫竹桥</option>
              <option id="1143_5977" value="5977"> 花园桥</option>
              <option id="1143_7433" value="7433"> 北洼路</option>
              <option id="1143_5975" value="5975"> 航天桥</option>
              <option id="1143_1246" value="1246"> 甘家口</option>
              <option id="1143_6822" value="6822"> 军博</option>
              <option id="1143_1245" value="1245"> 公主坟</option>
              <option id="1143_6716" value="6716"> 万寿路</option>
              <option id="1143_5979" value="5979"> 五棵松</option>
              <option id="1143_5970" value="5970"> 永定路</option>
              <option id="1143_1244" value="1244"> 八里庄</option>
              <option id="1143_7555" value="7555"> 定慧寺</option>
              <option id="1143_5969" value="5969"> 田村</option>
              <option id="1143_6717" value="6717"> 四季青</option>
              <option id="1143_6715" value="6715"> 香山</option>
              <option id="1143_5982" value="5982"> 世纪城</option>
              <option id="1143_5983" value="5983"> 苏州桥</option>
              <option id="1143_6818" value="6818"> 苏州街</option>
              <option id="1143_5974" value="5974"> 万泉河</option>
              <option id="1143_7553" value="7553"> 万柳</option>
              <option id="1143_12195" value="12195"> 增光路</option>
              <option id="1143_6924" value="6924"> 西苑</option>
              <option id="1143_5968" value="5968"> 马连洼</option>
              <option id="1143_5787" value="5787"> 西北旺</option>
              <option id="1143_1247" value="1247"> 海淀周边</option>
              <option id="1138_1156" value="1156"> 东直门</option>
              <option id="1138_5823" value="5823"> 东直门外</option>
              <option id="1138_1159" value="1159"> 和平里</option>
              <option id="1138_5816" value="5816"> 雍和宫</option>
              <option id="1138_5817" value="5817"> 安定门</option>
              <option id="1138_5819" value="5819"> 交道口</option>
              <option id="1138_5820" value="5820"> 东四十条</option>
              <option id="1138_6847" value="6847"> 海运仓</option>
              <option id="1138_5818" value="5818"> 北新桥</option>
              <option id="1138_1158" value="1158"> 朝阳门</option>
              <option id="1138_5821" value="5821"> 建国门</option>
              <option id="1138_5822" value="5822"> 北京站</option>
              <option id="1138_1160" value="1160"> 王府井</option>
              <option id="1138_1157" value="1157"> 景山</option>
              <option id="1138_6849" value="6849"> 灯市口</option>
              <option id="1138_6848" value="6848"> 沙滩 </option>
              <option id="1138_5825" value="5825"> 东单</option>
              <option id="1138_5824" value="5824"> 东四</option>
              <option id="1138_1161" value="1161"> 东城周边</option>
              <option id="1139_1174" value="1174"> 西直门</option>
              <option id="1139_5804" value="5804"> 车公庄</option>
              <option id="1139_7568" value="7568"> 官园</option>
              <option id="1139_6852" value="6852"> 百万庄</option>
              <option id="1139_5795" value="5795"> 阜成门</option>
              <option id="1139_5797" value="5797"> 西四</option>
              <option id="1139_5796" value="5796"> 展览路</option>
              <option id="1139_1172" value="1172"> 月坛</option>
              <option id="1139_6040" value="6040"> 金融街</option>
              <option id="1139_1173" value="1173"> 西单</option>
              <option id="1139_5801" value="5801"> 德胜门</option>
              <option id="1139_6044" value="6044"> 六铺炕</option>
              <option id="1139_5805" value="5805"> 积水潭</option>
              <option id="1139_6851" value="6851"> 小西天</option>
              <option id="1139_5798" value="5798"> 新街口</option>
              <option id="1139_5803" value="5803"> 马甸</option>
              <option id="1139_1175" value="1175"> 鼓楼</option>
              <option id="1139_5799" value="5799"> 地安门</option>
              <option id="1139_6041" value="6041"> 复兴门</option>
              <option id="1139_5794" value="5794"> 西便门</option>
              <option id="1139_1171" value="1171"> 南礼士路</option>
              <option id="1139_5800" value="5800"> 什刹海</option>
              <option id="1139_12196" value="12196"> 交大</option>
              <option id="1139_6042" value="6042"> 木樨地</option>
              <option id="1139_6043" value="6043"> 三里河</option>
              <option id="1139_1177" value="1177"> 西城周边</option>
              <option id="1140_1180" value="1180"> 崇文门</option>
              <option id="1140_1178" value="1178"> 前门</option>
              <option id="1140_6063" value="6063"> 新世界</option>
              <option id="1140_6062" value="6062"> 广渠门</option>
              <option id="1140_1182" value="1182"> 东花市</option>
              <option id="1140_6853" value="6853"> 法华寺</option>
              <option id="1140_1183" value="1183"> 体育馆路</option>
              <option id="1140_6064" value="6064"> 磁器口</option>
              <option id="1140_1179" value="1179"> 天坛</option>
              <option id="1140_1184" value="1184"> 永定门</option>
              <option id="1140_1181" value="1181"> 龙潭湖</option>
              <option id="1140_6061" value="6061"> 光明楼</option>
              <option id="1140_1185" value="1185"> 崇文周边</option>
              <option id="1141_6858" value="6858"> 广安门外</option>
              <option id="1141_6857" value="6857"> 广安门内</option>
              <option id="1141_6060" value="6060"> 天宁寺</option>
              <option id="1141_5842" value="5842"> 马连道</option>
              <option id="1141_6854" value="6854"> 红莲</option>
              <option id="1141_5835" value="5835"> 白纸坊</option>
              <option id="1141_6855" value="6855"> 南菜园</option>
              <option id="1141_5148" value="5148"> 大观园</option>
              <option id="1141_5147" value="5147"> 白广路</option>
              <option id="1141_1162" value="1162"> 牛街</option>
              <option id="1141_5839" value="5839"> 长椿街</option>
              <option id="1141_5151" value="5151"> 宣武门</option>
              <option id="1141_6856" value="6856"> 椿树街道</option>
              <option id="1141_5149" value="5149"> 菜市口</option>
              <option id="1141_1163" value="1163"> 陶然亭</option>
              <option id="1141_5838" value="5838"> 珠市口</option>
              <option id="1141_5150" value="5150"> 虎坊桥</option>
              <option id="1141_5837" value="5837"> 天桥</option>
              <option id="1141_5841" value="5841"> 大栅栏</option>
              <option id="1141_5836" value="5836"> 和平门</option>
              <option id="1141_1164" value="1164"> 宣武周边</option>
              <option id="1144_6024" value="6024"> 西客站</option>
              <option id="1144_5130" value="5130"> 太平桥</option>
              <option id="1144_6022" value="6022"> 六里桥</option>
              <option id="1144_5128" value="5128"> 丰台路</option>
              <option id="1144_6035" value="6035"> 青塔</option>
              <option id="1144_6034" value="6034"> 岳各庄</option>
              <option id="1144_5129" value="5129"> 卢沟桥</option>
              <option id="1144_5131" value="5131"> 长辛店</option>
              <option id="1144_7567" value="7567"> 云岗</option>
              <option id="1144_6030" value="6030"> 北大地</option>
              <option id="1144_6039" value="6039"> 丰台体育馆</option>
              <option id="1144_6037" value="6037"> 丽泽桥</option>
              <option id="1144_6031" value="6031"> 科技园区</option>
              <option id="1144_6861" value="6861"> 世界公园</option>
              <option id="1144_6038" value="6038"> 花乡</option>
              <option id="1144_1212" value="1212"> 玉泉营</option>
              <option id="1144_6028" value="6028"> 菜户营</option>
              <option id="1144_5136" value="5136"> 西罗园</option>
              <option id="1144_5134" value="5134"> 右安门</option>
              <option id="1144_6032" value="6032"> 草桥</option>
              <option id="1144_6023" value="6023"> 洋桥</option>
              <option id="1144_6025" value="6025"> 木樨园</option>
              <option id="1144_11380" value="11380"> 新发地</option>
              <option id="1144_6026" value="6026"> 赵公口</option>
              <option id="1144_7437" value="7437"> 嘉园</option>
              <option id="1144_6027" value="6027"> 刘家窑</option>
              <option id="1144_6036" value="6036"> 蒲黄榆</option>
              <option id="1144_6033" value="6033"> 左安门</option>
              <option id="1144_1213" value="1213"> 方庄</option>
              <option id="1144_5140" value="5140"> 东铁匠营</option>
              <option id="1144_6029" value="6029"> 成寿寺</option>
              <option id="1144_6859" value="6859"> 宋家庄</option>
              <option id="1144_5137" value="5137"> 大红门</option>
              <option id="1144_11821" value="11821"> 七里庄</option>
              <option id="1144_11820" value="11820"> 五里店</option>
              <option id="1144_5135" value="5135"> 马家堡</option>
              <option id="1144_6860" value="6860"> 角门</option>
              <option id="1144_9046" value="9046"> 南苑</option>
              <option id="1144_5139" value="5139"> 东高地</option>
              <option id="1144_11454" value="11454"> 和义</option>
              <option id="1144_5141" value="5141"> 丰台周边</option>
              <option id="1147_5811" value="5811"> 北关</option>
              <option id="1147_6899" value="6899"> 北关环岛</option>
              <option id="1147_5145" value="5145"> 永顺</option>
              <option id="1147_2639" value="2639"> 新华大街</option>
              <option id="1147_5142" value="5142"> 通州北苑</option>
              <option id="1147_6056" value="6056"> 八里桥</option>
              <option id="1147_5808" value="5808"> 果园</option>
              <option id="1147_5809" value="5809"> 九棵树</option>
              <option id="1147_5144" value="5144"> 梨园</option>
              <option id="1147_5810" value="5810"> 土桥</option>
              <option id="1147_6055" value="6055"> 临河里</option>
              <option id="1147_6047" value="6047"> 中仓</option>
              <option id="1147_5806" value="5806"> 西门</option>
              <option id="1147_6057" value="6057"> 乔庄</option>
              <option id="1147_7569" value="7569"> 东关</option>
              <option id="1147_7439" value="7439"> 运河大街</option>
              <option id="1147_5807" value="5807"> 玉桥</option>
              <option id="1147_6049" value="6049"> 张家湾</option>
              <option id="1147_2638" value="2638"> 八通轻轨沿线</option>
              <option id="1147_6900" value="6900"> 武夷花园</option>
              <option id="1147_7438" value="7438"> 潞城</option>
              <option id="1147_6051" value="6051"> 马驹桥</option>
              <option id="1147_12210" value="12210"> 漷县</option>
              <option id="1147_5146" value="5146"> 通州周边</option>
              <option id="1145_1228" value="1228"> 八宝山</option>
              <option id="1145_6865" value="6865"> 玉泉路</option>
              <option id="1145_6065" value="6065"> 鲁谷</option>
              <option id="1145_6069" value="6069"> 永乐</option>
              <option id="1145_6864" value="6864"> 衙门口</option>
              <option id="1145_5843" value="5843"> 八角</option>
              <option id="1145_6945" value="6945"> 老山</option>
              <option id="1145_6863" value="6863"> 杨庄 </option>
              <option id="1145_1229" value="1229"> 古城</option>
              <option id="1145_1230" value="1230"> 苹果园</option>
              <option id="1145_6066" value="6066"> 金顶街</option>
              <option id="1145_6862" value="6862"> 模式口</option>
              <option id="1145_6068" value="6068"> 五里坨</option>
              <option id="1145_6944" value="6944"> 西山</option>
              <option id="1145_6070" value="6070"> 八大处</option>
              <option id="1145_1231" value="1231"> 石景山周边</option>
              <option id="6808_6906" value="6906"> 长阳</option>
              <option id="6808_6866" value="6866"> 良乡</option>
              <option id="6808_7440" value="7440"> 阎村</option>
              <option id="6808_6946" value="6946"> 迎风</option>
              <option id="6808_6867" value="6867"> 窦店</option>
              <option id="6808_7441" value="7441"> 韩村河</option>
              <option id="6808_11373" value="11373"> 房山城关</option>
              <option id="6808_12177" value="12177"> 燕山</option>
              <option id="6808_12178" value="12178"> 琉璃河</option>
              <option id="6808_6869" value="6869"> 房山周边</option>
              <option id="1150_2641" value="2641"> 天通苑</option>
              <option id="1150_5834" value="5834"> 立水桥</option>
              <option id="1150_6059" value="6059"> 东小口</option>
              <option id="1150_5828" value="5828"> 霍营</option>
              <option id="1150_5827" value="5827"> 小汤山</option>
              <option id="1150_5833" value="5833"> 北七家</option>
              <option id="1150_2640" value="2640"> 回龙观</option>
              <option id="1150_6898" value="6898"> 龙泽</option>
              <option id="1150_5829" value="5829"> 城北</option>
              <option id="1150_5153" value="5153"> 沙河</option>
              <option id="1150_5832" value="5832"> 百善</option>
              <option id="1150_6058" value="6058"> 阳坊</option>
              <option id="1150_5152" value="5152"> 南口</option>
              <option id="1150_5830" value="5830"> 城南</option>
              <option id="1150_7425" value="7425"> 昌平县城</option>
              <option id="1150_5154" value="5154"> 昌平周边</option>
              <option id="6809_6872" value="6872"> 亦庄</option>
              <option id="6809_6871" value="6871"> 旧宫 </option>
              <option id="6809_7480" value="7480"> 郁花园</option>
              <option id="6809_6878" value="6878"> 同兴园</option>
              <option id="6809_6870" value="6870"> 西红门</option>
              <option id="6809_6873" value="6873"> 兴华大街</option>
              <option id="6809_7431" value="7431"> 清源</option>
              <option id="6809_6874" value="6874"> 兴丰大街</option>
              <option id="6809_6877" value="6877"> 海子角</option>
              <option id="6809_7570" value="7570"> 黄村</option>
              <option id="6809_6948" value="6948"> 兴业大街</option>
              <option id="6809_6876" value="6876"> 观音寺</option>
              <option id="6809_6875" value="6875"> 滨河</option>
              <option id="6809_7426" value="7426"> 林校路</option>
              <option id="6809_6881" value="6881"> 大兴周边</option>
              <option id="6810_7571" value="7571"> 胜利</option>
              <option id="6810_6884" value="6884"> 石园</option>
              <option id="6810_6885" value="6885"> 天竺</option>
              <option id="6810_6887" value="6887"> 新国展</option>
              <option id="6810_7572" value="7572"> 机场</option>
              <option id="6810_6888" value="6888"> 南彩</option>
              <option id="6810_7432" value="7432"> 马坡</option>
              <option id="6810_6882" value="6882"> 后沙峪</option>
              <option id="6810_6886" value="6886"> 李桥</option>
              <option id="6810_6883" value="6883"> 光明 </option>
              <option id="6810_12180" value="12180"> 裕龙</option>
              <option id="6810_12181" value="12181"> 建新</option>
              <option id="6810_11452" value="11452"> 杨镇</option>
              <option id="6810_11353" value="11353"> 顺义城区</option>
              <option id="6810_12182" value="12182"> 中央别墅区</option>
              <option id="6810_6889" value="6889"> 顺义周边</option>
              <option id="6811_6913" value="6913"> 密云城区</option>
              <option id="6811_6907" value="6907"> 不老屯</option>
              <option id="6811_6908" value="6908"> 溪翁庄</option>
              <option id="6811_6891" value="6891"> 密云周边</option>
              <option id="6812_6909" value="6909"> 雁栖</option>
              <option id="6812_6912" value="6912"> 桥梓</option>
              <option id="6812_6910" value="6910"> 怀柔城区</option>
              <option id="6812_6911" value="6911"> 渤海镇</option>
              <option id="6812_6892" value="6892"> 怀柔周边</option>
              <option id="6813_6914" value="6914"> 延庆城区</option>
              <option id="6813_6915" value="6915"> 大榆树</option>
              <option id="6813_7443" value="7443"> 八达岭</option>
              <option id="6813_6893" value="6893"> 延庆周边</option>
              <option id="6814_6916" value="6916"> 金海湖</option>
              <option id="6814_7445" value="7445"> 滨河路</option>
              <option id="6814_6917" value="6917"> 平谷城区</option>
              <option id="6814_6894" value="6894"> 平谷周边</option>
              <option id="6815_6895" value="6895"> 大峪</option>
              <option id="6815_6918" value="6918"> 东辛房</option>
              <option id="6815_7444" value="7444"> 龙泉</option>
              <option id="6815_6896" value="6896"> 城子街道 </option>
              <option id="6815_6919" value="6919"> 永定</option>
              <option id="6815_6922" value="6922"> 潭柘寺</option>
              <option id="6815_6920" value="6920"> 军庄</option>
              <option id="6815_6897" value="6897"> 门头沟周边</option>
              <option id="1146_11363" value="11363"> 香河</option>
              <option id="1146_11362" value="11362"> 燕郊</option>
              <option id="1146_11364" value="11364"> 三河</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="t"><b class="red">*</b> 补充说明： </td>
          <td><div id="div_htmleditor">
              <div id="fe_htmleditor_comp-4258" class="fe_htmleditor" style="">
                <div class="toolbar" style="width: 480px; "><span>
                  <button class="bold " title="加粗"></button>
                  </span><span>
                  <button class="underline " title="下划线"></button>
                  </span><span>
                  <button class="fontsize " title="字号"></button>
                  </span><span>
                  <button class="forecolor  " title="颜色"></button>
                  </span></div>
                <div id="fe_htmleditor_iframe_comp-4258" name="fe_htmleditor_iframe_comp-4258" contenteditable="true" class="editor" style="height: 92px; width: 474px; ">
                  <div><br>
                  </div>
                </div>
              </div>
            </div>
            <textarea id="Content" name="Content" style="width:0px; height:0px; display:none;"></textarea>
            <span id="Content_Tip" class=""><span class="c2"><span class="action_po"><span class="action_po_top">请填写补充说明</span><span class="action_po_bot"></span></span></span></span>
            <div id="divContentValue" style="display:none;"></div></td>
        </tr>
        <tr style="display: none; ">
          <td class="t"></td>
          <td><div id="uploadPic" value="">
              <div style="display:none;" id="divframe">
                <iframe id="formSubmitPic_0" name="formSubmitPic_0"></iframe>
                <iframe id="formSubmitPic_1" name="formSubmitPic_1"></iframe>
                <iframe id="formSubmitPic_2" name="formSubmitPic_2"></iframe>
                <iframe id="formSubmitPic_3" name="formSubmitPic_3"></iframe>
                <iframe id="formSubmitPic_4" name="formSubmitPic_4"></iframe>
                <iframe id="formSubmitPic_5" name="formSubmitPic_5"></iframe>
                <iframe id="formSubmitPic_6" name="formSubmitPic_6"></iframe>
                <iframe id="formSubmitPic_7" name="formSubmitPic_7"></iframe>
              </div>
              <ul>
              </ul>
              <div name="divUploader" class="cls_divUploader">
                <div class="loadbutton">
                  <input id="fileUploadInput" name="fileUploadInput" type="file">
                </div>
                 <span class="upload_ok">可上传 <font color="red" name="limitNum">8</font> 张图片，每张最大2M，支持jpg/gif/bmp/png格式</span><span class="upload_error" style="display: none; "></span><span class="upload_ing" style="display:none;"></span><span class="upload_maxnum" style="display:none;">上传成功。您已经上传了8张图片，如果您还想上传，只能删除已上传的图片。</span></div>
              <div>点击这里尝试 <a href="javascript:void(0);" onclick="$.c.Uploader.changeVersion(); $.c.Uploader.addTrack(0);" style="font-size:12px;">新版图片上传功能</a>：支持多选图片</div>
              <input type="hidden" id="backFunction" name="backFunction" value="$.c.Uploader.finish">
              <input type="hidden" name="Pic" id="Pic" value="">
              <input type="hidden" name="PicDesc" id="PicDesc" value="">
              <input type="hidden" name="PicPos" id="PicPos" value="0">
            </div></td>
        </tr>
        <tr id="trFlashUpload">
          <td></td>
          <td valign="top" style="height: 60px; "><div style="position:absolute;">
              <iframe onload="$.c.Uploader.flashFrameLoaded();" allowtransparency="true" id="frmFlashUpload" src="/flashupload/index.html?rnd=0.3415297558531165" width="820px" height="60px" scrolling="no" frameborder="0"></iframe>
            </div></td>
        </tr>
        <tr>
          <td class="t"><b class="red">*</b> 手机或电话： </td>
          <td><input class="text2" type="text" id="Phone" name="Phone" value="">
            <span id="Phone_Tip"></span> </td>
        </tr>
        <tr>
          <td class="t">隐私保护：</td>
          <td><label>
            <input type="checkbox" id="cbxFreeDivert" name="cbxFreeDivert" value="">
            <b style="color:green;">免费</b>设置电话转接，保护手机号码不被公开</label>
            &nbsp;<span class="jingjiren" id="loadDivert_tip">
            <div id="divFreeDivert" class="jingjirencon" style="display:none;">
              <p>什么是58呼转？</p>
              <span> 1、设置后别人拨打如400 8858 199转xxx就可以自动转接到您的手机上，还可以选择屏蔽中介(<a href="http://about.58.com/yinsibaohu.html" target="_blank" style="font-size:12px;" onclick="$.callDivert.GA_Stat();">查看详情</a>)。<br>
              2、您勾选并发布信息后我们会下发短信到您的手机上，您回复后就可使用。<br>
              3、暂不支持固定电话和小灵通。 </span> </div>
            </span></td>
        </tr>
        <tr>
          <td class="t"></td>
          <td><label>
            <input type="checkbox" id="baohushouji" name="baohushouji" value="">
            <span><b style="color:green;">免费</b>设置为隐藏电话只接受短信问询，避免骚扰</span></label>
            &nbsp;<span class="jingjiren" id="baohushouji_tip">
            <div id="divbaohushouji" class="jingjirencon" style="display:none;">
              <p>什么是隐藏电话，转呼短信？</p>
              <span> 1、设置后您的电话将被隐藏，别人可通过发短信联系您，由58同城代为转发，免费使用。<br>
              2、您勾选并发布信息后我们会下发短信到您的手机上，您回复后就可使用。<br>
              3、暂不支持固定电话和小灵通。</span> </div>
            </span></td>
        </tr>
        <tr>
          <td class="t"><b class="red">*</b> 联系人： </td>
          <td><input type="text" name="goblianxiren" id="goblianxiren" value="" class="text2" maxlength="6">
            &nbsp;
            <input class="base" type="checkbox" value="1" name="IsBiz">
            我是商家 <span id="goblianxiren_Tip"></span> </td>
        </tr>
        <tr>
          <td class="t">QQ或MSN：</td>
          <td><input class="text2" type="text" qtb="true" value="" id="IM" name="IM">
            <span id="IM_Tip"></span></td>
        </tr>
        <tr desc="注册单选框切换" style="display:none;">
          <td></td>
          <td><label>
            <input type="radio" name="radioHasAccount" value="0" onclick="$.mobileReg.autoReg();">
            <b>自动生成58帐户</b></label>
            &nbsp;
            <label>
            <input type="radio" name="radioHasAccount" value="1" onclick="$.GA.s1('click', 'use-account-post'); $.mobileReg.loadRegAndLogin();">
            <b>马上登录/注册</b></label>
            <br></td>
        </tr>
        <tr name="trUnlogin" style="display: none; ">
          <td></td>
          <td><b>填写帐户信息（您可以使用已有帐户登录或注册一个新帐户）</b>
            <input type="hidden" id="postRegLogin" name="postRegLogin" value="1">
            <input type="hidden" id="postRegCityID" value="1"></td>
        </tr>
        <tr name="trRegLogin" style="display: none; ">
          <td class="t"></td>
          <td><div class="login_reg"><a href="javascript:void(0);" onclick="$.c.user.change_reglogin(0); $.c.user.GA_send('tabs-login');" class="">登录</a><a class="active" href="javascript:void(0);" onclick="$.c.user.change_reglogin(1); $.c.user.GA_send('tabs-reg');">注册</a></div></td>
        </tr>
        <tr name="trReg" style="display: none; ">
          <td class="t"><b class="red">*</b> 用户名：</td>
          <td><input type="text" id="tbxRegUid" class="text2">
            <span id="tbxRegUid_Tip"></span></td>
        </tr>
        <tr name="trReg" style="display: none; ">
          <td class="t"><b class="red">*</b> 电子邮箱：</td>
          <td><input type="text" id="tbxRegEmail" class="text2">
            <span id="tbxRegEmail_Tip"></span></td>
        </tr>
        <tr name="trReg" style="display: none; ">
          <td class="t"><b class="red">*</b> 登录密码：</td>
          <td><input type="text" id="tbxRegPwd" class="text2">
            <span id="tbxRegPwd_Tip"></span></td>
        </tr>
        <tr name="trLogin" style="display: none; ">
          <td class="t"><b class="red">*</b> 用户名/邮箱：</td>
          <td><input type="text" id="tbxLoginUid" class="text2">
            <span id="tbxLoginUid_Tip"></span></td>
        </tr>
        <tr name="trLogin" style="display: none; ">
          <td class="t"><b class="red">*</b> 登录密码：</td>
          <td><input type="password" id="tbxLoginPwd" class="text2">
            <a target="_blank" href="http://passport.58.com/forgetpassword">忘记密码?</a> <span id="tbxLoginPwd_Tip"></span></td>
        </tr>
        <tr name="trUnlogin" style="display: none; ">
          <td class="t"></td>
          <td>注册或发布即代表您已阅读并同意<a class="font12" target="_blank" href="http://about.58.com/246.html">58同城使用协议</a>。</td>
        </tr>
        <tr>
          <td class="t"></td>
          <td><input type="submit" id="fabu" class="fabu1" value="马上发布" ct="submit">
          </td>
        </tr>
        <tr desc="注册提示" style="display:none;">
          <td></td>
          <td><b>如果您已经是58会员，请选择“马上登录/注册”!</b></td>
        </tr>
      </tbody>
    </table>
    </span>
  </form>
  <div class="preview">
    <div id="panel-4261" class="p_t">快速预览</div>
    <div id="div-4261" style="">
      <div class="p_c">
        <h2 id="title-4261"></h2>
        <ul id="content-4261" class="p_con">
          <li><i>新旧程度：</i>9成新</li>
          <li></li>
        </ul>
      </div>
      <div class="p_b"><a href="http://bj.58.com/diannao/" target="_blank" onclick="_gaq.push(['pageTracker._trackEvent', 'post_preview', 'more']);" class="pre_other">看看别人怎么写</a><a id="close-4261" class="pre_close">关闭预览</a></div>
    </div>
  </div>
</div>
</%block>
<%block name='js'>
<script type='text/javascript' src='/static/js/info_list.js'/>
</%block> 