<%inherit file='base.html' />


<%block name='content'>

<div class="page-header">
	<div>
		<span>
			地点:${session.get('city','')}
			<button class="btn danger">选择地区</button>
		</span>
		<span></span>
	</div>
	<div class="margin_top_5px">
		<span>
			类型:${session.get('type','')}
			<button class="btn default">农业</button>
			<button class="btn default">牧业</button>
			<button class="btn default">渔业</button>
			<button class="btn default">林业</button>     
		</span>

	</div>
  


</div>
<div class="margin_top_5px">
      <span>
          关键词:
          <input class="medium" id="prependedInput" name="prependedInput" size="16" type="text" />
          <button class="btn success">搜索</button> 
      </span>
      <span>
          <button id="send_news" class="btn danger">发布新闻</button> 
      </span>
  
</div>
<table>
	<thead>
           <!-- 表字段 -->
      <tr>
       	  
              <th width=100>
            	      发布人
              </th>
              <th>
              		新闻标题
              </th>
              <th>
              	发布时间	
              </th>
    
              <!--表字段-->
		</tr>
	</thead>
	<tbody>
	
       <!--表数据-->
      
          % for news in pages.get('data', []):
            <tr>
                   <td>
                        ${news.get('auther', '')}
                   </td>
                   <td>
                        ${news.get('title', '')}
                   </td>

                   <td>
                        ${news.get('create_time', '')}
                   </td>
            </tr>          
          % endfor
         
		
	</tbody>
           
</table>
 <div>
   <input type="hidden" id="last_time" value="${pages['last_time']}" />
	<div class="float_left">
	共${pages['count']}条
	
    </div>
	<div class="float_right">

      <a href="javascript:void(0)" id="first_page">首页</a>
    %if pages['page'] !=1:
	<a href="javascript:void(0)" id="pre_page"> 上一页</a>
	%endif
    %if pages['count']/pages['limit'] >= 1:
	<a href="javascript:void(0)" id="next_page"> 下一页 </a>
	%endif
    <input type="hidden" id="old_page" value="${pages['page']}"  />

   </div>	
		

</div>
<div id="send_news_window" class="hide dialog">
    <div class="dialog_title">
        <span class="color_black">发布新闻</span> 
        <a href="javascript:void(0)" id="add_dialog_close" > 
        <span class="dialog_close close">x</span>
         </a>
    </div>
    <fieldset>                   		
    
    <form action="/create_info" method="post">
        <input type='hidden' value='news' name='collection' />
        <input type='hidden' value='/' name='return' />
		<input name='auther' value='${session.get('name')}' type='hidden' />
        <div class="clearfix">
            <label for="xlInput">标题</label>
            <div class="input">
            <input type="text" class="xlarge" value=""  name="title" />
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">内容</label>
            <div class="input">
                <textarea class="xxlarge" name="centent" id="textarea" rows="3" ></textarea>
            </div>
        </div>
  
    
        <div class="actions">
            <input type="submit" class="btn success" id="add_dialog_submit" value="发布"" />
            <input type="button" class="btn"  id="add_dialog_cancel" value="暂不注册"> 
        </div> 
    </fieldset>                   		

    </form>

</div>

</%block>
<%block name='js'>
<script src="/static/js/news.js"></script>
</%block>



