<%inherit file='base.html' />
<%block name='content'>

<div class="cb nbsp"><!-- class begin2011-->
<div class="c_b c_bh">
    <h2 class="hpic1"><a href="/house.shtml" >资讯专栏&raquo;</a></h2>
        <a href="/zufang/" class="red">政策信息</a><br />
        <a href="/hezu/">法律法规</a>1192631<br />
    <h2 class="hpic2"><a href="/car.shtml" >招资申请&raquo;</a></h2>
        <a href="/ershouche/" class="red">二手汽车转让</a>95138<br />
        <a href="http://bj.kuche.com/baojia/">新车报价</a><br />
        <a href="/danche/">二手摩托车</a>72461<br />

    <h2 class="hpic3"><a href="/jiaoyu.shtml">技术推广&raquo;</a></h2>
        <em><a href="/fudao/">家教</a>36693</em><a href="/liuxue/">留学</a>9898<br />
        <em><a href="/waiyu/">外语</a>28387</em><a  href="/jisuanji/">IT培训</a>19445<br />
        <em><a href="/zhiyepeix/">职业</a>52911</em><a href="/xueli/">学历</a>35584<br />
        <em><a href="/mba/">管理</a>7623</em><a href="/shejipeixun/">设计</a>6578<br />
        <a href="/youjiao/">婴幼儿教育</a>8102<br />
        <em><a href="/techang/">文体</a>36151</em><a href="/peixunqita/">其他</a>20616<br />

</div>
<div class="c_b c_bh">
    <h2 class="hpic6"><a href="/sale.shtml">供应信息&raquo;</a></h2>
        <a href="/diannao/">二手电脑</a><i>/</i><a href="/bijiben/">笔记本</a>114067<br />
        <a href="/shouji/">二手手机</a>107522<br />
        <a href="/shoujihao/">手机号码</a>197251<br />
        <a href="/shuma/">数码产品</a><i>/</i><a href="/shumaxiangji/">相机</a>53511<br />
        <a href="/jiadian/">二手家电</a>83273<br />
        <a href="/ershoujiaju/">二手家具/家居</a>355568<br />
        <a href="/fushi/">服装箱包</a><i>/</i><a href="/meirong/">化妆品</a>92687<br />
        <a href="/yingyou/">母婴/儿童用品</a><i>/</i><a href="/ertongyongpin/">玩具</a>26970<br />
        <a href="/yishu/">艺术品/收藏品</a>60841<br />
        <a href="/tushu/">图书/音像/软件</a>48260<br />
        <a href="/wenti/">文体</a><i>/</i><a href="/yundongfushi/">户外</a><i>/</i><a href="/yueqi/">乐器</a>54417<br />
        <a href="/bangong/">办公用品/设备</a>141480<br />
        <a href="/ershoushebei/">二手设备</a>31252<br />
   

</div>
<div class="c_b2">
	<div class="c_b">
	    <h2 class="hpic8"><a href="/job.shtml">求购信息&raquo;</a></h2>
        <em><a href="/yewu/">销售</a>298377</em><a href="/kefu/">客服</a>67457<br />
        <em><a href="/wenziluru/">文员</a>194090</em><a href="/mishu/">助理</a>194090<br />
        <em><a href="/qiantai/">前台</a>194090</em><a href="/bianji/">编辑</a>18137<br />
        <em><a href="/caiwu/">会计</a>48438</em><a href="/chuna/">出纳</a>48438<br />
        <a href="/renli/">人事/行政/后勤</a>194090<br />
        <a href="/fangdichan/">房地产经纪人</a>298377<br />
        <a href="/cangku/">仓库管理员</a>37669<br />
        <a href="/sheji/">平面设计</a>60594<br />
        <a href="/wangzhanmeigong/">网页设计/制作</a>67065<br />
        <a href="/jishuzhichi/">技术支持/维护</a>67065<br />
        <em><a href="/wangzhanyingyun/">网编</a>67278</em><a href="/wangluogongchengshi/">网管</a>67278<br />
        <em><a href="/jiaoshi/">教师</a>55526</em><a href="/youerjiaoshi/">幼教</a>55526<br />
        <em><a href="/yiliao/">医生</a>25914</em><a href="/hushi/">护士</a>25914<br />
        <a href="/shineisheji/">装修装潢设计</a>60594<br />
    </div>      
	<div class="c_b pr0">
		<h2 class="hpic9">黄页展示&nbsp;</h2>
        <a href="/zpshengchankaifa/">普工/技工</a>92069<br />
        <em><a href="/dianzi/">电工</a>92069</em><a href="/maohangong/">焊工</a>92069<br />
        <em><a href="/siji/">司机</a>106195</em><a href="/baoanl/">保安</a>60587<br />
        <em><a href="/cantfwy/">服务员</a>144784</em><a href="/canguan/">厨师</a>144784<br />
        <em><a href="/shouying/">收银</a>74337</em><a href="/chufangqiepei/">配菜</a>145326<br />
        <em><a href="/yingyeyuan/">营业员</a>74337</em><a href="/cuxiao/">导购</a>74337<br />
        <em><a href="/baojieyuan/">保洁</a>60758</em><a href="/baomuxin/">保姆</a>60758<br />
        <em><a href="/sudiyuan/">快递员</a>37669</em><a href="/banyungong/">搬运工</a>37669<br />
        <em><a href="/meirongshi/">美容师</a>76541</em><a href="/faxingshi/">发型师</a>76541<br />
        <a href="/huazhuangshizg/">化妆师</a>76541<br />
        <a href="/baojiananmozuliao/">足疗保健</a>76541<br />
        <a href="/jiubagzy/">酒吧服务员</a>65202<br />
        <a href="/jiazhengbaojiexin/">家政保洁/安保</a>60587<br />
        <a href="/zhaopinhui/">北京招聘会</a>5979<br />
	</div><div class="clear"></div>

	<div class="clear"></div>


</div>
<div class="c_b pr0 plb c_bh">
    <h2 class="hpic12"><a href="http://t.58.com/?utm_source=58.com_homeright" target="_blank" id="tuanlink"></a><a href="/huangye/">招商加盟&raquo;</a></h2> 
        <em><a href="/banjia/">搬家</a>163233</em><a href="/zhuangxiu/">装修</a>140760<br />
        <em><a href="/baojie/">保洁</a>71183</em><a href="/baomu/">家政</a>49988<br />
        <em><a href="/huishou/">回收</a>106248</em><a href="/zulin/">租赁</a>22218<br />

    <h2 class="hpic13"><a href="/shangwu.shtml">合作经营&raquo;</a></h2>
        <em><a href="/zhuce/">工商注册</a>55302</em><a href="/kuaidi/">快递</a>9441<br />
        <em><a href="/huoyun/">物流</a>30649</em><a href="/wuliu/">货运专线</a>2984<br />
        <a href="/danbaobaoxiantouzi/">担保/保险/投资</a>42734<br />
        <a href="/yinshua/">印刷</a><i>/</i><a href="/baozhuang/">包装</a>29610<br />
        <a href="/penhui/">喷绘</a><i>/</i><a href="/allzhika/">制卡</a>21555<br />
        <a href="/wangzhan/">网站建设/推广</a>22406<br />
        <a href="/fanyi/">翻译/速记</a>5701<br />
        <a href="/pingmian/">设计策划</a>12209<br />
        <a href="/lvshi/">法律咨询</a>9807<br />
        <a href="/caishui/" >财务会计/评估</a>10413<br />

    
</div><div class="clear" style="border-bottom:1px solid #f1f1f1"></div><!-- class end -->

</%block>



