<%inherit file='base.html' />
<%block name='css'>
</%block>
<%block name='content'>
<div class="">
<div id="reg" class="">
    <div class="dialog_title">
        <span class="color_black">注册帐号</span> 

    </div>
    <fieldset>                   		
    
    <form action="/reg_user" method="post" id="reg_form">
        <input type='hidden' value='1' name='leval' />
        <div class="clearfix">
            <label for="xlInput">用户名(最好用邮箱)</label>
            <div class="input">
              <input type="text" class="xlarge" value=""  name="_id" id="_id" />
              <span id='reg_tips'></span>
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">姓名或单位名称</label>
            <div class="input">
            <input type="text" class="xlarge" value=""  name="name" />
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">位置</label>
            <div class="input">
           
                <select class="loc_select" name="province" id="province" defvalue="11">
                     % for provice in provice_list:
                        <option value="${provice.get('_id', '')}">${provice.get('city_name', '')}</option>
                     % endfor
                </select>
                
                <select class="loc_select" name="city" id="city" >
                    <option value="">市(区)</option>
                </select>
             <select id="area" class="loc_select" name="area">
                <option value="">县</option>
            </select>
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">密码</label>
            <div class="input">
                <input type="password" name="password" class="xlarge" id="password" />
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput">确认密码</label>
            <div class="input">
                <input type="password" id="cpassword" class="xlarge">
            </div>
        </div>
    
        <div class="actions">
            <input type="button" class="btn success" id="reg_user_action" value="注册" />
            <input type="button" class="btn"  id="reg_user_cancel" value="暂时先不注册"> 
        </div> 
    </fieldset>                   		

    </form>

</div>
</%block>
<%block name='js'>
<script src="/static/js/login.js"></script>
</%block>
