<%inherit file='base.html' />
<%block name='search'>
<div class="margin_top_5px">
      <span>
          关键词:
          <input class="medium" id="prependedInput" name="prependedInput" size="16" type="text" />
          <button class="btn success">搜索</button> 
      </span>
      <span>
          <button id="send_news" class="btn danger">发布新闻</button> 
      </span>
  
</div>
</%block>
<%block name='content'>


</%block>
<%block name='js'>
<script src="/static/js/news.js"></script>
</%block>



